@model IEnumerable<LedtinEShop.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Table For Customers</h3>
    </div>
    <a class="btn" href="~/Admin/CustomersManagement/Create">
        <i class="fa fa-plus-square"> Create New</i>
    </a>
    <!-- /.box-header -->
    <div class="box-body" style="overflow-x:auto">
        <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Password)</th>
                    <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Photo)</th>
                    <th>@Html.DisplayNameFor(model => model.Activated)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <img src="~/images/customers/@item.Photo" style="height: 100px; width: 100px; border-radius: 45px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activated)
                        </td>
                        <td>
                            <a class="btn" href="~/Admin/CustomersManagement/Edit/@item.Id">
                                <i class="fa fa-edit"> Edit</i>
                            </a>
                            <a class="btn" href="~/Admin/CustomersManagement/Details/@item.Id">
                                <i class="fa fa-search"> Details</i>
                            </a>
                            <a class="btn" href="~/Admin/CustomersManagement/Delete/@item.Id">
                                <i class="fa fa-ban"> Delete</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Password)</th>
                    <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Photo)</th>
                    <th>@Html.DisplayNameFor(model => model.Activated)</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>
