@model PagedList.IPagedList<LedtinEShop.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListBySupplier";
}

<style>
    .nn-prod {
        text-align: center;
        font-size: smaller;
    }

        .nn-prod .panel-body img {
            height: 200px;
            max-width: 95%;
        }

        .nn-prod .nn-oldprice {
            font-size: 20px;
            font-family: Impact;
            color: grey;
            text-decoration: line-through;
            text-shadow: 0 0 1px #888888;
        }

        .nn-prod .nn-price {
            font-size: 25px;
            font-family: Impact;
            color: black;
            text-shadow: 0 0 1px #888888;
        }

        .nn-prod .panel-footer {
            height: 50px;
        }

        .nn-prod .panel {
            position: relative;
        }

            .nn-prod .panel .nn-feature {
                position: absolute;
                top: 0px;
                right: 0px;
            }
</style>

<div class="clearfix">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 nn-prod">
            <div class="panel panel-default">
                <div class="panel-heading">@item.Name</div>
                <div class="panel-body">
                    <a href="/Product/Detail/@item.Id">
                        <img src="~/images/products/@item.Image" />
                    </a>
                </div>
                <div class="panel-footer">
                    @if (item.Discount > 0)
                    {
                        <div class="nn-oldprice pull-left">$   @item.UnitPrice</div>
                        <div class="nn-price pull-left">&nbsp;$ @(item.UnitPrice * (1 - item.Discount))</div>
                    }
                    else
                    {
                        <div class="nn-price pull-left">$ @(item.UnitPrice * (1 - item.Discount))</div>
                    }
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" data-add-to-cart="@item.Id">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </div>
                </div>
                @if (item.Special)
                {
                    <img class="nn-feature"
                         src="~/images/special_icon.gif" />
                }
                else if (item.Latest)
                {
                    <img class="nn-feature"
                         src="~/images/new_icon.gif" />
                }
                else if (item.Discount > 0)
                {
                    <img class="nn-feature"
                         src="~/images/promo_icon.gif" />
                }
            </div>
        </div>
    }
</div>

<article></article>
<div class="col-lg-12 nn-prod">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ListBySupplier", new { page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        { HttpMethod = "GET", UpdateTargetId = "product_area" }))
</div>


